.file-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .file-list li {
    list-style: none;
    margin: 1.2em 0;
    background-color: #bababa38;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 1.2em 1.5em;
  }
  
  .file-list svg {
    color: #4070f4;
    &:first-child {
      font-size: 1.2em;
      margin-right: 0.8em;
    }
  }
  
  .file-list p {
    flex: 1;
    font-size: 0.9rem;
  }
  
  .file-list .actions {
    justify-self: flex-end;
    cursor: pointer;
  }
  
  .file-list .fa-spinner {
    font-size: 1.2em;
  }  